.search-box {
    margin: auto;
    text-align: center;
    
}

.input-search {
    font-size: 16px;
    color: #000000;
    
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 9px 12px;
}

@media (min-width: 1010px) {
    .input-search {
        width: 938px;    
    }
}

@media (max-width: 1009px) {
    .input-search {
        width: 454px;    
    }
}

@media (max-width: 525px) {
    .container-sorting{
        margin: 10px auto;
    }

    .sort-panel {
        margin-bottom: 17.23px;
    }

    .input-search {
        width: 388px;    
    }
}